body{
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

header{
	background-color: #4caf50;
	color: white;
	text-align: center;
	padding: 2rem 0;
}

main{
	padding: 2rem;
	max-width: 800px;
	margin: auto;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2{
	color: #4caf50;
}

ul{
	list-style:none ;
	padding: 0;
}

li{
	padding: 1rem;
	border-bottom: 1px solid #ddd;
}

li.completed{
	text-decoration: line-through;
	color: gray;
}

footer{
	text-align: center;
	padding: 1rem;
	background-color: #4caf50;
	color: white;
	margin-top: 2rem;
}

@media (max-width: 768px){
	main{
		padding: 1rem;
	}
	li{
		font-size: 1.2rem;
	}
}

li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease;
}
